# Performing Basic Pandas operation

# Loading Data into Pandas

In [10]:
import pandas as pd

In [11]:
data = pd.read_csv('irisdata.csv')

### Head of data

In [12]:
data.head(3)

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa

Here column name are not specify so we need to give name to columns.

### Naming columns

In [13]:
data.columns = ['SepalLengthCm','SepalWidthCm','PetalLenghtCm','PetalWidth','Species']

In [15]:
data.head()

   SepalLengthCm  SepalWidthCm  PetalLenghtCm  PetalWidth      Species
0            4.9           3.0            1.4         0.2  Iris-setosa
1            4.7           3.2            1.3         0.2  Iris-setosa
2            4.6           3.1            1.5         0.2  Iris-setosa
3            5.0           3.6            1.4         0.2  Iris-setosa
4            5.4           3.9            1.7         0.4  Iris-setosa

### tail of data

In [17]:
data.tail()

     SepalLengthCm  SepalWidthCm  PetalLenghtCm  PetalWidth         Species
144            6.7           3.0            5.2         2.3  Iris-virginica
145            6.3           2.5            5.0         1.9  Iris-virginica
146            6.5           3.0            5.2         2.0  Iris-virginica
147            6.2           3.4            5.4         2.3  Iris-virginica
148            5.9           3.0            5.1         1.8  Iris-virginica

### Shape of data

In [18]:
data.shape

(149, 5)

### Iteration through rows

In [23]:
data.iloc[:5,:4]

   SepalLengthCm  SepalWidthCm  PetalLenghtCm  PetalWidth
0            4.9           3.0            1.4         0.2
1            4.7           3.2            1.3         0.2
2            4.6           3.1            1.5         0.2
3            5.0           3.6            1.4         0.2
4            5.4           3.9            1.7         0.4

 :5 this means 1st 5 rows, :4 this means 1st 4 columns

In [26]:
data.index

RangeIndex(start=0, stop=149, step=1)

This gives information about index of dataset

In [27]:
data.iloc[3:6,:-1]

   SepalLengthCm  SepalWidthCm  PetalLenghtCm  PetalWidth
3            5.0           3.6            1.4         0.2
4            5.4           3.9            1.7         0.4
5            4.6           3.4            1.4         0.3

In [48]:
data.iloc[5:8,1:3]

   SepalWidthCm  PetalLenghtCm
5           3.4            1.4
6           3.4            1.5
7           2.9            1.4

### Getting rows by specific condition

In [39]:
data.loc[data['SepalLengthCm'] >= 5.0]

     SepalLengthCm  SepalWidthCm  PetalLenghtCm  PetalWidth         Species
3              5.0           3.6            1.4         0.2     Iris-setosa
4              5.4           3.9            1.7         0.4     Iris-setosa
6              5.0           3.4            1.5         0.2     Iris-setosa
9              5.4           3.7            1.5         0.2     Iris-setosa
13             5.8           4.0            1.2         0.2     Iris-setosa
..             ...           ...            ...         ...             ...
144            6.7           3.0            5.2         2.3  Iris-virginica
145            6.3           2.5            5.0         1.9  Iris-virginica
146            6.5           3.0            5.2         2.0  Iris-virginica
147            6.2           3.4            5.4         2.3  Iris-virginica
148            5.9           3.0            5.1         1.8  Iris-virginica

[127 rows x 5 columns]

In [40]:
data.loc[data['Species'] == 'Iris-virginica']

     SepalLengthCm  SepalWidthCm  PetalLenghtCm  PetalWidth         Species
99             6.3           3.3            6.0         2.5  Iris-virginica
100            5.8           2.7            5.1         1.9  Iris-virginica
101            7.1           3.0            5.9         2.1  Iris-virginica
102            6.3           2.9            5.6         1.8  Iris-virginica
103            6.5           3.0            5.8         2.2  Iris-virginica
104            7.6           3.0            6.6         2.1  Iris-virginica
105            4.9           2.5            4.5         1.7  Iris-virginica
106            7.3           2.9            6.3         1.8  Iris-virginica
107            6.7           2.5            5.8         1.8  Iris-virginica
108            7.2           3.6            6.1         2.5  Iris-virginica
109            6.5           3.2            5.1         2.0  Iris-virginica
110            6.4           2.7            5.3         1.9  Iris-virginica
111            6.8           3.0            5.5         2.1  Iris-virginica
112            5.7           2.5            5.0         2.0  Iris-virginica
113            5.8           2.8            5.1         2.4  Iris-virginica
114            6.4           3.2            5.3         2.3  Iris-virginica
115            6.5           3.0            5.5         1.8  Iris-virginica
116            7.7           3.8            6.7         2.2  Iris-virginica
117            7.7           2.6            6.9         2.3  Iris-virginica
118            6.0           2.2            5.0         1.5  Iris-virginica
119            6.9           3.2            5.7         2.3  Iris-virginica
120            5.6           2.8            4.9         2.0  Iris-virginica
121            7.7           2.8            6.7         2.0  Iris-virginica
122            6.3           2.7            4.9         1.8  Iris-virginica
123            6.7           3.3            5.7         2.1  Iris-virginica
124            7.2           3.2            6.0         1.8  Iris-virginica
125            6.2           2.8            4.8         1.8  Iris-virginica
126            6.1           3.0            4.9         1.8  Iris-virginica
127            6.4           2.8            5.6         2.1  Iris-virginica
128            7.2           3.0            5.8         1.6  Iris-virginica
129            7.4           2.8            6.1         1.9  Iris-virginica
130            7.9           3.8            6.4         2.0  Iris-virginica
131            6.4           2.8            5.6         2.2  Iris-virginica
132            6.3           2.8            5.1         1.5  Iris-virginica
133            6.1           2.6            5.6         1.4  Iris-virginica
134            7.7           3.0            6.1         2.3  Iris-virginica
135            6.3           3.4            5.6         2.4  Iris-virginica
136            6.4           3.1            5.5         1.8  Iris-virginica
137            6.0           3.0            4.8         1.8  Iris-virginica
138            6.9           3.1            5.4         2.1  Iris-virginica
139            6.7           3.1            5.6         2.4  Iris-virginica
140            6.9           3.1            5.1         2.3  Iris-virginica
141            5.8           2.7            5.1         1.9  Iris-virginica
142            6.8           3.2            5.9         2.3  Iris-virginica
143            6.7           3.3            5.7         2.5  Iris-virginica
144            6.7           3.0            5.2         2.3  Iris-virginica
145            6.3           2.5            5.0         1.9  Iris-virginica
146            6.5           3.0            5.2         2.0  Iris-virginica
147            6.2           3.4            5.4         2.3  Iris-virginica
148            5.9           3.0            5.1         1.8  Iris-virginica

### Basic discription of data

In [41]:
data.describe()

       SepalLengthCm  SepalWidthCm  PetalLenghtCm  PetalWidth
count     149.000000    149.000000     149.000000  149.000000
mean        5.848322      3.051007       3.774497    1.205369
std         0.828594      0.433499       1.759651    0.761292
min         4.300000      2.000000       1.000000    0.100000
25%         5.100000      2.800000       1.600000    0.300000
50%         5.800000      3.000000       4.400000    1.300000
75%         6.400000      3.300000       5.100000    1.800000
max         7.900000      4.400000       6.900000    2.500000

This shows count, mean, standard deviation, minimum and maximum value, 25%, 50%, 75% of data

In [42]:
data.describe(include=['object'])

                Species
count               149
unique                3
top     Iris-versicolor
freq                 50

By passing include=['object'] shows information about catogorical variable

### Sorting Data

In [44]:
data.sort_values('SepalLengthCm', ascending=False)

     SepalLengthCm  SepalWidthCm  PetalLenghtCm  PetalWidth         Species
130            7.9           3.8            6.4         2.0  Iris-virginica
134            7.7           3.0            6.1         2.3  Iris-virginica
121            7.7           2.8            6.7         2.0  Iris-virginica
116            7.7           3.8            6.7         2.2  Iris-virginica
117            7.7           2.6            6.9         2.3  Iris-virginica
..             ...           ...            ...         ...             ...
40             4.5           2.3            1.3         0.3     Iris-setosa
7              4.4           2.9            1.4         0.2     Iris-setosa
41             4.4           3.2            1.3         0.2     Iris-setosa
37             4.4           3.0            1.3         0.2     Iris-setosa
12             4.3           3.0            1.1         0.1     Iris-setosa

[149 rows x 5 columns]

In [47]:
data.sort_values(['SepalLengthCm', 'PetalLenghtCm'], ascending=False)

     SepalLengthCm  SepalWidthCm  PetalLenghtCm  PetalWidth         Species
130            7.9           3.8            6.4         2.0  Iris-virginica
117            7.7           2.6            6.9         2.3  Iris-virginica
116            7.7           3.8            6.7         2.2  Iris-virginica
121            7.7           2.8            6.7         2.0  Iris-virginica
134            7.7           3.0            6.1         2.3  Iris-virginica
..             ...           ...            ...         ...             ...
40             4.5           2.3            1.3         0.3     Iris-setosa
7              4.4           2.9            1.4         0.2     Iris-setosa
37             4.4           3.0            1.3         0.2     Iris-setosa
41             4.4           3.2            1.3         0.2     Iris-setosa
12             4.3           3.0            1.1         0.1     Iris-setosa

[149 rows x 5 columns]

### Aggregate statistics

In [49]:
data.groupby(['Species']).mean()

                 SepalLengthCm  SepalWidthCm  PetalLenghtCm  PetalWidth
Species
Iris-setosa           5.004082      3.416327       1.465306    0.244898
Iris-versicolor       5.936000      2.770000       4.260000    1.326000
Iris-virginica        6.588000      2.974000       5.552000    2.026000

Mean value of each columns groupby Species

In [50]:
data.groupby(['Species']).sum()

                 SepalLengthCm  SepalWidthCm  PetalLenghtCm  PetalWidth
Species
Iris-setosa              245.2         167.4           71.8        12.0
Iris-versicolor          296.8         138.5          213.0        66.3
Iris-virginica           329.4         148.7          277.6       101.3

Sum of each columns groupby Species

In [56]:
data.groupby(['Species']).count()

                 SepalLengthCm  SepalWidthCm  PetalLenghtCm  PetalWidth
Species
Iris-setosa                 49            49             49          49
Iris-versicolor             50            50             50          50
Iris-virginica              50            50             50          50